body.toolbar-drawer {
    padding-top: 0px !important;
}

body {
  background:url("../images/bg.png") repeat-x fixed left top #d1f1fc;
  color:#2F3131;
  font-family:Lucida Grande,Calibri,Verdana;
  font-size:12px;
  line-height:1.5;
  text-shadow:0 1px 0 #FFFFFF;
}

.clearfix {
  clear:both;
}

input {
  font: 12px/100% sans-serif;
  color: #494949;
}

input[type=text], input[type=password] {
  -moz-border-radius:7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  border-radius:7px 7px 7px 7px;
  border:1px solid #999999;
  font:18px/120% monospace;
  padding:10px;
  width:345px;
  opacity:0.8;
  filter:alpha(opacity=80);
}

textarea {
  -moz-border-radius:7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  border-radius:7px 7px 7px 7px;
  border:1px solid #999999;
  font:16px/120% monospace;
  padding:10px;
  width:345px;
  opacity:0.8;
  filter:alpha(opacity=80);
}

textarea, select {
  font: 12px/160% sans-serif;
  color: #494949;
}

.form-item label {
  display:block;
  font:16px/120% monospace;
  font-weight:normal;
  line-height:42px;
  padding-left:13px;
}

.form-item label.compact-form-label {
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color:#4E4E4E;
  padding: 0;
  font-weight: normal;
  font-family:Lucida Grande,Calibri,Verdana;
}

h1 {
  font-size:200%;
  line-height:140%;
}

h2 {
  font-size: 160%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:active, a.active {
  color: #5895be;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
  margin: 0.4em 0 0.4em .5em; /* LTR */
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  list-style-type: none;
  list-style-image: none;
}

ol li {
  padding: 0 0 .3em;
  margin-left: 2em; /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}

ol.task-list li {
  padding: 0.5em 1em 0.5em 2em; /* LTR */
}

ol.task-list li.done {
  color: #393;
}

ol.task-list li.active {
  margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img, a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
}

.view-clients table.views-view-grid td {
  text-align:center;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module, td.container, td.category {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}

span.form-required {
  color: #ffae00;
}

span.submitted, .description {
  font-size: 0.92em;
  color: #898989;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #898989;
}

.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.messages ul {
  margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0; /* LTR */
}

a, a:visited {
  color:#327E29;
  text-decoration:none;
}

a:hover {
  color: #0062A0;
  text-decoration: underline;
}

#wrapper-outer {
  overflow:hidden;
}

#wrapper {
  background:url("../images/topclouds.png") repeat-x fixed 0 0 transparent;
}

#wrapper-footer {
  background:url("../images/kiwiland.png") no-repeat scroll 50% 100% transparent;
}

#header {
  padding:0 15px 15px;
}

#header .main {
  margin-top:30px;
  padding:40px 100px 4px;
  width:644px;
}

#logo {
  left:-10px;
  top:5px;
  margin-bottom:23px;
  position:relative;
}

#header #nav {
  float:left;
  width:250px;
  z-index:30;
  position:fixed;
}

#header #onepage-links li {
  list-style:none outside none;
  margin:0;
  padding:0;
}

#header #onepage-links li a {
  color:#544C4C;
  display:block;
  text-align:right;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  line-height:130%;
  margin-bottom:5px;
  padding:2px 5px;
  text-transform:uppercase;
  width:210px;
}

#header #onepage-links li a:hover,
#header #onepage-links li a.active {
  text-decoration:none;
  background:url("../images/trans.png") repeat scroll 0 0 transparent;
}

.main {
  float:right;
  position:relative;
  width:745px;
  z-index:30;
}

.section .main {
  border-bottom:1px solid #a0c0cb;
  border-top:1px solid #F6F6F6;
  padding-bottom:83px;
  padding-top:29px;
}

#section-wikikiwis .main {
  border-top:none;
  padding-top:0;
}

#section-contact-us .main {
  border-bottom:none;
  padding-bottom:50px;
}

.container {
  width:1000px;
  margin:0 auto;  
}

.pane-content {
  margin-bottom:30px;
}

h2.pane-title {
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  margin-bottom:10px;
}

.hidden {display:none;}
.clear {clear:both;}

.yesbg .pane-content,
#quicktabs_container_3{
  background:url("../images/panebg.png") repeat scroll 0 0 transparent;
  padding:20px;
}

.pane-showcase .pane-content .media-vimeo {
  width:632px;
}

#quicktabs_container_3 {
  height: 355px;
}

.center-wrapper .yesbg .pane-content {
  height:330px;
}

#main-content {
  min-height:1400px;
}

div#admin-toolbar.vertical {
  text-shadow:0 0 0;
}

.panel-3col-33-stacked .panel-col-first,
.panel-3col-33-stacked .panel-col {
  width:220px;
  margin-right:30px;
}

.panel-3col-33-stacked .panel-col-last {
  margin:0;
  width:245px;
}

.panel-3col-33-stacked .panel-col-first .inside,
.panel-3col-33-stacked .panel-col .inside,
.panel-3col-33-stacked .panel-col-last .inside {
  margin:0;
}

.view-id-showcase.view-display-id-default {
  position:relative;
}

.view-id-showcase.view-display-id-default img {
  display:block;
}

.view-id-showcase.view-display-id-default .views-field-title a {
  background:url("../images/trans.png") repeat scroll 0 0 #FFFFFF;
  bottom:0;
  color:#3D3D3D;
  font-family:georgia;
  font-size:29px;
  opacity:0.8;
  filter:alpha(opacity=80);
  padding:0 10px;
  position:absolute;
  right:0;
  text-shadow:0 0 0;
  z-index:9999;
}

a.views_slideshow_singleframe_previous {
  left:0;
}

a.views_slideshow_singleframe_previous:hover {
  background-position:0 -35px;
}

a.views_slideshow_singleframe_next {
  right:0;
  background-position:-35px 0px;
}

a.views_slideshow_singleframe_next:hover {
  background-position:-35px -35px;
}

.views-field-title {
  font-size:14px;
  font-weight:bold;
}

#blog-pane {
  position:relative;
}

#blog-pane .feed-icon {
  position:absolute;
  right:0;
  top:-1px;
}

#tweets-wrapper {
  background:url("../images/tweets.png") no-repeat scroll 0 0 transparent;
  height:57px;
  padding:15px 10px 15px 125px;
}

.sprite {background:transparent url(../images/sprite.png) no-repeat; position:absolute; display:none; cursor:pointer; z-index:20;}

#objects-wrapper {position:fixed;width:100%;}

#branch1 {
  background-position:-130px -553px;
  height:145px;
  left:-270px;
  top:115px;
  width:270px;
}

#branch2 {
  background-position:-155px 0;
  height:235px;
  top:330px;
  width:245px;
}

#branch3 {
  background-position:-12px -432px;
  height:116px;
  right:0;
  top:400px;
  width:300px;
}

.balloon {
  background-position:-115px -258px !important;
}

#bird {
  background-position:-247px -258px;
  height:155px;
  right:20px;
  top:20px;
  width:109px;
  z-index:999;
}

#block-views-kiwitweet-block_1 {
  background:url("../images/trans.png") repeat scroll 0 0 transparent;
  padding:0 !important;
}

.view-kiwitweet {
  background:url("../images/tweet.png") no-repeat scroll left bottom transparent;
  height:140px;
  padding:10px 10px 15px;
}

#footer-illustration p {
  margin:0 !important;
  text-align:center;
}

#title {
  margin:0 auto;
  width:500px;
}

ul.quicktabs-style-nostyle {
  margin-top:20px;
}

ul.quicktabs-style-nostyle li {
  margin:0;
  padding:0;
}

ul.quicktabs-style-nostyle li a {
  background:url("../images/slider-button.png") no-repeat scroll 0 0 transparent;
  color:#000000;
  display:block;
  float:left;
  font-size:16px;
  height:35px;
  line-height:22px;
  padding-top:15px;
  text-align:center;
  text-transform:uppercase;
  width:248px;
}

#quicktabs-3 ul.quicktabs-style-nostyle li a {
  width: 182px;
  margin-left:4px;
} 

#quicktabs-3 ul.quicktabs-style-nostyle li.active a {
  background-position : -30px -104px;
}

ul.quicktabs-style-nostyle li a:hover {
  background:url("../images/slider-button.png") no-repeat scroll 0 -51px transparent;
  text-decoration:none;
}

ul.quicktabs-style-nostyle li.active a {
  background:url("../images/slider-button.png") no-repeat scroll 0 -104px transparent;
  height:45px;
}

.view-employees .picture {
  float:left;
  padding-bottom:45px;
  padding-right:10px;
}

.view-partners td,
.view-services td {
  vertical-align:top;
}

.view-employees .picture img,
.view-projects .yesbg {
  display:block;
  background:url("../images/panebg.png") repeat scroll 0 0 transparent;
  padding:10px;
}
.view-products.view-display-id-block_1 img {
  padding:0;
}


.view-projects .yesbg img {
  display:block;
}

.view-projects .yesbg {
  margin-bottom:10px;
}

.view-projects .yesbg a:hover {
  text-decoration:none;
}

.view-employees .views-field-name {
  font-size:16px;
  font-weight:bold;
}

.view-employees .views-field-field-position-value {
  padding-bottom:10px;
}

.view-employees .views-field-field-employee-about-value {
  width:350px;
}

.view-header {
  margin-bottom:20px;
}

.page-contact .panel-2col .panel-col-first {
  width:100%;
}

.view-blog .views-row {
  border-bottom:1px solid;
  padding-bottom:20px;
  padding-top:20px;
  border-top:1px solid #fff;
}

.view-blog .views-row-first {
  border-top:none;
}

.view-blog .views-row-last {
  border-bottom:none;
}

.view-products .views-row {
  padding-bottom:20px;
  padding-top:20px;
}

.view-products .views-row-first {
  border-top:none;
  padding-top:0;
}

.view-products .views-row-last {
  border-bottom:none;
}

.views_slideshow_singleframe_div_showcase-default_1 a:hover {
  text-decoration:none;
}

#block-block-1 a {
  margin-left:8px;
  display:block;  
  float:left;
  height:26px;
  position:relative;
  width:27px;
}

a.twitter {
  background:url("../images/social.png") repeat scroll -7px 26px transparent;
}

a.twitter:hover { 
  background:url("../images/social.png") no-repeat scroll -7px 3px transparent;
}

a.facebook {
  background:url("../images/social.png") repeat scroll -41px 26px transparent;
}

a.facebook:hover {
  background:url("../images/social.png") no-repeat scroll  -41px 3px transparent; 
}

a.linkedin {
  background:url("../images/social.png") repeat scroll -76px 26px transparent;
}

a.linkedin:hover {
  background:url("../images/social.png") no-repeat scroll -76px 3px transparent;
}

a.vimeo {
  background:url("../images/social.png") repeat scroll -113px 26px transparent;
}

a.vimeo:hover {
  background:url("../images/social.png") no-repeat scroll -113px 3px  transparent;
}

a.drupal {
  background:url("../images/social.png") repeat scroll 36px 26px transparent;
}

a.drupal:hover {
  background:url("../images/social.png") repeat-x scroll 36px 3px transparent;  
}

a.rss {
  background:url("../images/social.png") repeat scroll -369px 26px transparent;
}

a.rss:hover {
  background:url("../images/social.png") repeat-x scroll -369px 3px transparent;  
}

.views_slideshow_singleframe_controls {
  display:block !important;
}

#sidebar .block {
  margin-bottom:20px;
  padding-top:10px;
}

#terms li {
  padding:0;
  margin:0;
  float:left;
  margin-right:20px;
}

#terms li.vocab-3 {
  background:url("../images/cat.png") no-repeat scroll 0 0 transparent;
  padding-left:30px;
}

span.categories {
  padding-left:0;
}

#terms li.vocab-2  {
  background:url("../images/tag.png") no-repeat scroll 0 0 transparent;
  padding-left:30px;
}

.links-top {
  float:right;
}

.node #terms {
  padding-top:10px;
}

.node .more {
  padding-bottom:20px;
}

img#typekit-badge-hiy1kmw {
  display:none !important;
}

.view-id-services .views-field-field-services-icon-fid {
  float:left;
  margin-right:20px;
}

.view-id-services .views-field-body {
  clear:both;
}

.compact-form-label {
  left:12px;
}

.kiwibutton.next {
  right:-22px;
  overflow:hidden;
}

.kiwibutton.prev {
  left:-22px;
  ssoverflow:hidden;
}

.kiwibutton a:hover, .kiwibutton a:hover {
  text-decoration:none;
  color:#327E29;
}

span.kiwibutton,
.item-list ul.pager li {
  background:url("../images/button.png") no-repeat scroll 100% -60px transparent;
  bottom:-60px;
  cursor:pointer;
  display:block;
  float:right;
  padding:0 15px 0 0;
  z-index:1000;
}


#views_slideshow_singleframe_playpause_showcase-default-2 {
 display: none;
}

#views_slideshow_singleframe_main_showcase-default-2 {
  width: 705px;
}

span.kiwibutton:hover,
.item-list ul.pager li:hover {
  
  background-position:100% -149px;
}

span.kiwibutton:active,
.item-list ul.pager li:active {
  background-position:100% -90px;
}

span.kiwibutton,
span.kiwibutton input,
span.kiwibutton a,
 ul.pager li a {
    background: url("../images/button.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #327E29;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 0;
    max-width: 60px;
    padding: 5px 15px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

span.kiwibutton:hover,
span.kiwibutton:hover input,
span.kiwibutton:hover a,
ul.pager li:hover a {
  text-decoration:none;
  background-position:0 -119px;
}

span.kiwibutton:active,
span.kiwibutton:active input,
span.kiwibutton:active a,
ul.pager li:active a {
  background-position:0 -30px;
}

a#views_slideshow_singleframe_playpause_slideshow_project_screenshots-block_1 {
  display:none;
}

.views-slideshow-controls-top {
  position:relative;
}

.grippie {
  display:none;
}

.view-services .views-field-title  {
  float:left;
  padding-top:45px;
}

.views-slideshow-controls-bottom {
  position:relative;
}

#home .pane-content {
  margin-bottom:65px;
}

.views_slideshow_thumbnailhover_div_breakout_teaser {
  float:left;
  padding-right:20px;
  padding-bottom:20px;
  cursor:pointer;
}

#views_slideshow_thumbnailhover_div_showcase-block_4_0 img {
  border:10px solid #fff;
}

.views_slideshow_singleframe_slide .views-field-title {
  background:none repeat scroll 0 0 #FFFFFF;
  bottom:0;
  font-size:24px;
  padding-left:20px;
  padding-right:20px;
  position:absolute;
  right:5px;
}
.views_slideshow_singleframe_slide,
#views_slideshow_singleframe_div_showcase-default-2_1{
  display:inline-block;
  height:350px !important;
}

#quicktabs_container_3 .quicktabs_tabpage,
#quicktabs_container_3 .views_slideshow_singleframe_main{
  height:350px !important;
}

.view-projects .views-field-field-images-fid {
  position:relative;
}

#edit-copy-wrapper {
  display:none;
}

#footer-illustration {
  height:200px;
}

#home h1.pane-title {
  font-size:20px;
  padding-bottom:5px;
  text-align:center;
}

#block-views-kiwitweet-block_1 {
  width:230px;
}

.pager {
  clear:both;
  text-align:center;
}

.pager a {
  text-shadow:1px 1px 0 #FFFFFF;  
}

.view-projects .view-content {
  margin-bottom:-22px;
}

.item-list .pager {
  clear:both;
  margin:15px 0 !important;
  text-align:right;
}

.item-list .pager .pager-previous {
  float:left;
}

.item-list .pager .pager-next {
  float:right;
}

.moretocome {
  display:none;
}

.view-employees .views-field-field-links-url .field-item, .view-partners .views-field-field-links-url .field-item {
  float:left;
  padding-right:5px;
}

.view-employees .views-field-field-links-url .field-item a:hover {
  text-decoration:underline;
  color:#327E29;
}

.view-empty h2 {
  font-size:14px;
  padding:40px 20px;
  text-align:center;
}

.view-partners .views-field-field-client-logo-fid img {
  display:block;
  margin-bottom:45px;
  margin-right:60px;
}

.views-field-field-client-logo-fid .beautytips {
  display:block;
  float:left;
}

.views-field-field-links-url a {
  text-transform:lowercase;
}

.view-partners .views-field-title {
  margin:10px 0;
}

.view-clients .views-field-field-client-logo-fid {
  padding:20px 0;
}

.kiwiwait {
  background:url("../images/wait.png") no-repeat scroll 50% 50% transparent;
}

.views_slideshow_singleframe_pause {
  display:none;
}

#edit-mollom-captcha-wrapper label {
  left:165px !important;
}

#edit-mollom-captcha-wrapper .description {
  display:none;
}

.view-showcas .views_slideshow_singleframe_slide.views_slideshow_slide {
  height:390px !important;
}

.pane-spark {
  display:inline-block;
  margin-top: 30px;
  
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 620px;
  height : 90px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
  height: 95px;
  width: 620px;
}

.jcarousel-skin-tango .jcarousel-item {
  height: 90px;
  width: 120px;
  padding: 0;
  margin-right: 5px;
}

.pane-quicktabs-3 {
  height:500px;
}

.quicktabs-hide {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

.quicktabs-hide {
  display : block !important;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
  border: 0 none;
  border-radius: 0;
  background: transparent;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("../images/classic-map.png") no-repeat scroll 5px 50px transparent;
    opacity: 0.2;
    cursor: pointer;
    height: 124px;
    left: 5px;
    position: absolute;
    top: 3px;
    width: 30px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background: url("../images/classic-map.png") no-repeat scroll 5px 50px transparent;
    opacity:1;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("../images/classic-map.png") no-repeat scroll -292px 50px transparent;
    opacity: 0.2;
    cursor: pointer;
    height: 124px;
    left: 665px;
    position: absolute;
    top: 3px;
    width: 30px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
  background: url("../images/classic-map.png") no-repeat scroll -292px 50px transparent;
  opacity:1;
}

.views_slideshow_jcarouselthumbs_div_breakout_teaser {
  cursor: pointer;
}

.views_slideshow_jcarouselthumbs_slide .views-field-field-video-embed {
  margin-left: 35px;
  margin-right: 35px; 
}
  
#media-vimeo-2 {
  margin-left: 40px
}

.canvas {
    background: url("../images/canvasbg.png") repeat scroll 0 0 transparent;
    padding: 20px;
}

.icon-web {
  height:64px;
  width:64px;
  float:left;
  margin:0 10px 10px 0;
  background: url("../images/web.png") repeat scroll 0 0 transparent;
}

.icon-drupal {
  height:64px;
  width:64px;
  float:left;
  margin:0 10px 10px 0;
  background: url("../images/drupal.png") repeat scroll 0 0 transparent;
}

.icon-process {
  height:64px;
  width:64px;
  float:left;
  margin:0 10px 10px 0;
  background: url("../images/process.png") repeat scroll 0 0 transparent;
}

.icon-design {
  height:64px;
  width:64px;
  float:left;
  margin:0 10px 10px 0;
  background: url("../images/design.png") repeat scroll 0 0 transparent;
}

/* colors */

.green {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.blue {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
}

.navy {
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
}

.orange {
    background-color: #FAA732;
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)	
}

.red {
    background-color: #DA4F49;
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
}

.black {
   background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
}